Repository serverless/console, pull requests merged in 2023-05, with the labels that each got.

#710 SDK: Ensure to resolve stack trace only for exposed logs
  node/packages/sdk/lib/instrumentation/http.js
Labels: bug, runtime/node.js

#712 Fix linter by specifying python classifiers
  .github/workflows/python-validate.yml
  python/packages/aws-lambda-sdk/pyproject.toml
  python/packages/sdk-schema/pyproject.toml
  python/packages/sdk/pyproject.toml
Labels: runtime/python

#713 [Python SDK] Enable mypy & fix type checker errors
  .github/workflows/python-integrate.yaml
  .github/workflows/python-validate.yml
  python/packages/sdk/pyproject.toml
  python/packages/sdk/sls_sdk/__init__.py
  python/packages/sdk/sls_sdk/base.py
  python/packages/sdk/sls_sdk/lib/instrumentation/__init__.py
  python/packages/sdk/sls_sdk/lib/instrumentation/http.py
  python/packages/sdk/sls_sdk/lib/stack_trace_string.py
  python/packages/sdk/sls_sdk/lib/tags.py
  python/packages/sdk/sls_sdk/lib/trace.py
Labels: runtime/python, ci

#718 [Python SDK] Remove importlib_metadata runtime dependency
  python/packages/sdk/pyproject.toml
  python/packages/sdk/sls_sdk/base.py
  python/packages/sdk/tests/test_sdk.py
Labels: runtime/python, refactor

#721 [Python base SDK] Switch to using version file
  .github/workflows/python-integrate.yaml
  python/packages/sdk/pyproject.toml
  python/packages/sdk/sls_sdk/VERSION
  python/packages/sdk/sls_sdk/base.py
Labels: runtime/python

#724 Fix integration tests for Python Lambda SDK
  node/test/python/aws-lambda-sdk/integration.test.js
Labels: runtime/python, tests

#727 [Python] Emit types from sdk-schema
  python/packages/sdk-schema/pyproject.toml
  python/packages/sdk-schema/serverless_sdk_schema/py.typed
Labels: runtime/python

#729 chore: Release python sdk schema v 0.2.2
  python/packages/sdk-schema/CHANGELOG.md
  python/packages/sdk-schema/pyproject.toml
Labels: runtime/python

#730 Use native http module instead of aiohttp
  python/packages/aws-lambda-sdk/pyproject.toml
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/instrument/__init__.py
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/instrument/lib/dev_mode.py
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/instrument/lib/telemetry.py
  python/packages/aws-lambda-sdk/tests/conftest.py
  python/packages/aws-lambda-sdk/tests/instrument/lib/test_dev_mode.py
  python/packages/aws-lambda-sdk/tests/instrument/lib/test_telemetry.py
Labels: runtime/python, refactor

#714 [Python Lambda SDK] Enable mypy & fix type checker errors
  .github/workflows/python-integrate.yaml
  .github/workflows/python-validate.yml
  python/packages/aws-lambda-sdk/pyproject.toml
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/__init__.py
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/instrumentation/__init__.py
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/py.typed
Labels: runtime/python, refactor

#733 [Python Lambda SDK] Remove wrapt dependency
  python/packages/aws-lambda-sdk/pyproject.toml
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/instrumentation/aws_sdk.py
  python/packages/aws-lambda-sdk/tests/conftest.py
  python/packages/aws-lambda-sdk/tests/instrument/test_instrument.py
  python/packages/aws-lambda-sdk/tests/instrumentation/test_aws_sdk.py
Labels: runtime/python, refactor

#734 chore: Release python lambda sdk version 0.1.16
  python/packages/aws-lambda-sdk/CHANGELOG.md
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/VERSION
Labels: runtime/python

#735 [Python Lambda SDK] Forbid unused imports
  python/packages/aws-lambda-sdk/pyproject.toml
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/__init__.py
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/internal_extension/exec_wrapper.py
Labels: runtime/python, refactor

#736 [Python base SDK] Improve linter config
  python/packages/sdk/pyproject.toml
  python/packages/sdk/sls_sdk/lib/error.py
  python/packages/sdk/tests/lib/test_error.py
  python/packages/sdk/tests/test_sdk.py
Labels: runtime/python, refactor

#737 [Python SDK Schema] Improve linter config
  python/packages/sdk-schema/pyproject.toml
  python/packages/sdk-schema/tests/test_schema.py
Labels: runtime/python, refactor

#728 SDK: Fix detection of not observed response body
  node/packages/sdk/lib/instrumentation/http.js
  node/packages/sdk/test/unit/lib/instrumentation/http.test.js
Labels: bug, runtime/node.js

#741 AWS Lambda SDK: Black box AWS SDK spans with dedicated functionality
  node/packages/aws-lambda-sdk/instrumentation/aws-sdk-v2.js
  node/packages/aws-lambda-sdk/instrumentation/aws-sdk-v3-client.js
  node/packages/aws-lambda-sdk/package.json
Labels: runtime/node.js, refactor

#742 [Python Lambda SDK] Trim down protobuf when bundling the layer
  .github/workflows/python-integrate.yaml
  .github/workflows/python-publish-aws-lambda-sdk.yml
Labels: runtime/python

#744 [Python Lambda SDK] Remove byte-code from layer
  .github/workflows/python-integrate.yaml
  .github/workflows/python-publish-aws-lambda-sdk.yml
Labels: runtime/python

#749 feat: Added a new transport payload for dev mode
  proto/serverless/instrumentation/v1/dev_mode.proto
Labels: enhancement

#746 Do not report error on http body capture
  python/packages/sdk/sls_sdk/lib/instrumentation/http.py
  python/packages/sdk/tests/lib/instrumentation/test_http.py
Labels: bug, runtime/python

#753 chore: Release python base sdk version 0.4.8
  python/packages/sdk/CHANGELOG.md
  python/packages/sdk/sls_sdk/VERSION
Labels: runtime/python

#752 feat!: Group dev mode activity
  go/packages/dev-mode/agent/forwarder.go
  go/packages/dev-mode/go.mod
  go/packages/dev-mode/go.sum
  go/packages/dev-mode/lib/logger.go
  go/packages/dev-mode/main.go
  go/packages/dev-mode/main_test.go
  go/packages/dev-mode/utils/MockLambdAPI.go
Labels: enhancement

#754 Release python lambda sdk v0.1.17
  python/packages/aws-lambda-sdk/CHANGELOG.md
  python/packages/aws-lambda-sdk/pyproject.toml
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/VERSION
Labels: runtime/python

#755 feat: Include dev mode transport in sdk schema
  node/packages/sdk-schema/CHANGELOG.md
  node/packages/sdk-schema/package.json
Labels: enhancement

#756 feat: Move to function URL rather than API Gateway URL
  go/packages/dev-mode/lib/publishUrl.go
  go/packages/dev-mode/main.go
  node/package.json
  node/test/go/dev-mode/test/integration/index.test.js
  node/test/lib/get-process-function.js
Labels: enhancement

#758 Schema: Introduce `aws.lambda.response_mode` tag
  proto/serverless/instrumentation/tags/v1/aws.proto
Labels: enhancement

#762 AWS Lambda SDK: Support response streaming
  node/packages/aws-lambda-sdk/index.js
  node/packages/aws-lambda-sdk/instrument/index.js
  node/packages/aws-lambda-sdk/instrument/lib/resolve-response-tags.js
  node/packages/aws-lambda-sdk/test/fixtures/lambdas/.eslintrc.js
  node/packages/aws-lambda-sdk/test/fixtures/lambdas/response-streaming.js
  node/packages/aws-lambda-sdk/test/integration/index.test.js
Labels: bug, enhancement, runtime/node.js

#764 [Python base SDK] Import dependencies internally
  python/packages/sdk/sls_sdk/lib/imports.py
  python/packages/sdk/sls_sdk/lib/name.py
  python/packages/sdk/sls_sdk/lib/tags.py
  python/packages/sdk/tests/lib/test_imports.py
Labels: bug, runtime/python

#766 [Python Lambda SDK] Import dependencies internally
  node/test/python/aws-lambda-sdk/integration.test.js
  python/packages/aws-lambda-sdk/pyproject.toml
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/instrument/__init__.py
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/instrument/lib/dev_mode.py
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/instrument/lib/payload_conversion.py
  python/packages/aws-lambda-sdk/tests/fixtures/lambdas/internal_dependencies.py
Labels: bug, runtime/python

#751 AWS Lambda SDK: Improve stream body reporting
  node/packages/aws-lambda-sdk/lib/instrumentation/aws-sdk/safe-stringify.js
Labels: bug, runtime/node.js

#768 [Python SDK] Fix integration tests
  node/test/python/aws-lambda-sdk/integration.test.js
Labels: runtime/python, tests

#770 AWS Lambda SDK: Release v0.15.2
  node/packages/aws-lambda-sdk/CHANGELOG.md
  node/packages/aws-lambda-sdk/package.json
Labels: runtime/node.js

#771 Fix dev mode connection
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/instrument/__init__.py
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/instrument/lib/telemetry.py
  python/packages/aws-lambda-sdk/tests/fixtures/lambdas/http_requester.py
  python/packages/aws-lambda-sdk/tests/instrument/lib/test_telemetry.py
Labels: bug, runtime/node.js

#772 Report leftover span as a warning
  python/packages/sdk/sls_sdk/lib/trace.py
  python/packages/sdk/tests/lib/test_trace_span.py
Labels: bug, runtime/python

#773 chore: Release python base sdk version 0.4.10
  python/packages/sdk/CHANGELOG.md
  python/packages/sdk/sls_sdk/VERSION
Labels: runtime/python

#775 AWS Lambda SDK: Fix handling of not responding handler
  node/packages/aws-lambda-sdk/instrument/index.js
  node/packages/aws-lambda-sdk/test/fixtures/lambdas/no-response-callback.js
  node/packages/aws-lambda-sdk/test/fixtures/lambdas/no-response-thenable.js
  node/packages/aws-lambda-sdk/test/integration/index.test.js
Labels: bug, runtime/node.js

#776 [Python SDK] Do not import typing extensions for new versions
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/instrument/__init__.py
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/internal_extension/wrapper.py
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/trace_spans/aws_lambda.py
  python/packages/sdk/sls_sdk/__init__.py
  python/packages/sdk/sls_sdk/base.py
  python/packages/sdk/sls_sdk/lib/captured_event.py
  python/packages/sdk/sls_sdk/lib/emitter.py
  python/packages/sdk/sls_sdk/lib/id.py
  python/packages/sdk/sls_sdk/lib/name.py
  python/packages/sdk/sls_sdk/lib/tags.py
  python/packages/sdk/sls_sdk/lib/trace.py
Labels: runtime/python, refactor

#777 chore: Release python base sdk version 0.4.11
  python/packages/sdk/CHANGELOG.md
  python/packages/sdk/sls_sdk/VERSION
Labels: runtime/python

#778 chore: Release python lambda sdk version 0.1.19
  python/packages/aws-lambda-sdk/CHANGELOG.md
  python/packages/aws-lambda-sdk/pyproject.toml
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/VERSION
Labels: runtime/python

#779 fix: Shutdown forwards an empty event
  go/packages/dev-mode/agent/forwarder.go
Labels: bug

#780 chore: Release dev mode v0.7.1
  go/packages/dev-mode/main_test.go
  go/packages/dev-mode/version.txt
Labels: bug

#781 fix: Updating error message on debug log
  go/packages/dev-mode/agent/forwarder.go
Labels: bug

#782 chore: Release v0.7.2
  go/packages/dev-mode/version.txt
Labels: enhancement

#785 Test: Do not test under `nodejs12.x` runtime
  node/packages/aws-lambda-sdk/test/integration/index.test.js
Labels: runtime/node.js

#786 fix(Go SDK): do not panic if event options not provided
  go/packages/slslambda/event.go
Labels: bug

#787 AWS Lambda SDK: Fix handling of case where we wait for empty event loop
  node/packages/aws-lambda-sdk/instrument/index.js
  node/packages/aws-lambda-sdk/test/fixtures/lambdas/callback-postponed-exit.js
  node/packages/aws-lambda-sdk/test/integration/index.test.js
Labels: bug, runtime/node.js
