Repository serverless/console, pull requests merged in 2023-04, with the labels that each got.

#595 Improve wrapper, load customer module later
  python/packages/aws-lambda-sdk/pyproject.toml
  python/packages/aws-lambda-sdk/scripts/build-layer-archive.sh
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/exceptions.py
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/instrument/__init__.py
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/internal_extension/base.py
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/internal_extension/exec_wrapper.py
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/internal_extension/wrapper.py
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/trace_spans/aws_lambda.py
  python/packages/aws-lambda-sdk/tests/instrument/test_instrument.py
  python/packages/aws-lambda-sdk/tests/internal_extension/test_internal_extension.py
  python/packages/aws-lambda-sdk/tests/internal_extension/test_internal_extension_exec_wrapper.py
  python/packages/aws-lambda-sdk/tests/internal_extension/test_internal_extension_wrapper.py
Labels: bug, runtime/python

#600 SDK: Revert breaking rename into `sls_sdk`
  python/packages/sdk/CHANGELOG.md
  python/packages/sdk/serverless_sdk/__init__.py
  python/packages/sdk/serverless_sdk/base.py
  python/packages/sdk/serverless_sdk/exceptions.py
  python/packages/sdk/serverless_sdk/lib/__init__.py
  python/packages/sdk/serverless_sdk/lib/captured_event.py
  python/packages/sdk/serverless_sdk/lib/emitter.py
  python/packages/sdk/serverless_sdk/lib/error.py
  python/packages/sdk/serverless_sdk/lib/error_captured_event.py
  python/packages/sdk/serverless_sdk/lib/id.py
  python/packages/sdk/serverless_sdk/lib/instrumentation/logging.py
  python/packages/sdk/serverless_sdk/lib/name.py
  python/packages/sdk/serverless_sdk/lib/notice.py
  python/packages/sdk/serverless_sdk/lib/stack_trace_string.py
  python/packages/sdk/serverless_sdk/lib/tags.py
  python/packages/sdk/serverless_sdk/lib/timing.py
  python/packages/sdk/serverless_sdk/lib/trace.py
  python/packages/sdk/serverless_sdk/lib/warning.py
  python/packages/sdk/serverless_sdk/lib/warning_captured_event.py
  python/packages/sdk/serverless_sdk/py.typed
  python/packages/sdk/tests/lib/instrumentation/test_logging.py
  python/packages/sdk/tests/lib/test_captured_event.py
  python/packages/sdk/tests/lib/test_error.py
  python/packages/sdk/tests/lib/test_error_captured_event.py
  python/packages/sdk/tests/lib/test_event_emitter.py
  python/packages/sdk/tests/lib/test_id.py
  python/packages/sdk/tests/lib/test_name.py
  python/packages/sdk/tests/lib/test_notice.py
  python/packages/sdk/tests/lib/test_stack_trace_string.py
  python/packages/sdk/tests/lib/test_tags.py
  python/packages/sdk/tests/lib/test_timing.py
  python/packages/sdk/tests/lib/test_trace_span.py
  python/packages/sdk/tests/lib/test_warning.py
  python/packages/sdk/tests/lib/test_warning_captured_event.py
  python/packages/sdk/tests/test_sdk.py
Labels: bug, runtime/python

#601 SDK: Release v0.3.9
  python/packages/sdk/CHANGELOG.md
  python/packages/sdk/pyproject.toml
Labels: runtime/python

#602 AWS Lambda SDK: Update to rely on new fixed `sdk` version
  python/packages/aws-lambda-sdk/CHANGELOG.md
  python/packages/aws-lambda-sdk/pyproject.toml
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/__init__.py
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/instrument/__init__.py
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/internal_extension/wrapper.py
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/trace_spans/aws_lambda.py
  python/packages/aws-lambda-sdk/tests/conftest.py
  python/packages/aws-lambda-sdk/tests/fixtures/lambdas/sdk.py
  python/packages/aws-lambda-sdk/tests/fixtures/lambdas/sdk_sampled_out.py
  python/packages/aws-lambda-sdk/tests/instrument/lib/test_dev_mode.py
  python/packages/sdk/README.md
Labels: bug, runtime/python

#609 Improve wrapper and clean up unnecessary code
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/__init__.py
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/base.py
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/instrument/__init__.py
  python/packages/aws-lambda-sdk/tests/instrument/test_instrument.py
Labels: runtime/python, refactor

#612 Fix generated IDs
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/instrument/lib/payload_conversion.py
  python/packages/aws-lambda-sdk/tests/instrument/test_assertions.py
Labels: bug, runtime/python

#611 AWS Lambda SDK: Ensure to not error continuously on internal error.
  node/packages/aws-lambda-sdk/instrument/index.js
Labels: bug, runtime/node.js

#613 Match nodejs sdk behaviour for empty custom tags
  python/packages/sdk/sls_sdk/lib/trace.py
  python/packages/sdk/tests/lib/test_trace_span.py
Labels: runtime/python, refactor

#614 Fix dev-mode trace reporting
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/instrument/__init__.py
  python/packages/aws-lambda-sdk/tests/instrument/test_assertions.py
  python/packages/aws-lambda-sdk/tests/instrument/test_instrument.py
Labels: bug, runtime/python

#615 Ensure logs are json
  python/packages/sdk/sls_sdk/lib/instrumentation/logging.py
  python/packages/sdk/tests/lib/instrumentation/test_logging.py
  python/packages/sdk/tests/test_thread_safety.py
Labels: bug, runtime/python

#618 Upgrade to latest base sdk
  python/packages/aws-lambda-sdk/pyproject.toml
Labels: runtime/python

#620 SDK: Write JSON strings as structured logs
  node/packages/sdk/lib/create-error-captured-event.js
  node/packages/sdk/lib/create-warning-captured-event.js
  node/packages/sdk/lib/instrumentation/node-console.js
  node/packages/sdk/lib/report-error.js
  node/packages/sdk/lib/report-warning.js
  node/packages/sdk/test/unit/lib/instrumentation/node-console.test.js
Labels: enhancement, runtime/node.js

#626 fix: Internal layer detection
  go/packages/dev-mode/agent/forwarder.go
  go/packages/dev-mode/agent/http.go
  go/packages/dev-mode/lib/helper.go
  go/packages/dev-mode/main.go
Labels: bug, enhancement

#627 chore: Release dev mode v0.6.2
  go/packages/dev-mode/version.txt
Labels: bug

#628 feat: Adjust default log parsing
  go/packages/dev-mode/agent/forwarder.go
  go/packages/dev-mode/lib/helper.go
Labels: enhancement

#629 chore: Release v0.6.3
  go/packages/dev-mode/version.txt
Labels: enhancement

#631 fix: SC-799 Added capture warning when spans are not closed
  node/packages/sdk/index.js
  node/packages/sdk/lib/trace-span.js
Labels: bug

#634 chore: Release Node SDK v0.5.6
  node/packages/sdk/CHANGELOG.md
  node/packages/sdk/package.json
Labels: bug

#635 fix: SDK will report warning for unclosed spans
  node/packages/aws-lambda-sdk/package.json
  node/packages/aws-lambda-sdk/test/fixtures/lambdas/esm-sdk/index.js
  node/packages/aws-lambda-sdk/test/fixtures/lambdas/sdk.js
  node/packages/aws-lambda-sdk/test/integration/index.test.js
  node/packages/aws-lambda-sdk/test/unit/internal-extension/index.test.js
  node/packages/aws-lambda-sdk/trace-spans/aws-lambda.js
Labels: bug

#636 chore: Release AWS Lambda SDK v0.14.12
  node/packages/aws-lambda-sdk/CHANGELOG.md
  node/packages/aws-lambda-sdk/package.json
Labels: bug

#648 fix: Updated warning type to user
  node/packages/sdk/lib/trace-span.js
Labels: bug

#649 fix: Span not closed warnings are now user warnings
  node/packages/aws-lambda-sdk/package.json
  node/packages/aws-lambda-sdk/test/integration/index.test.js
  node/packages/aws-lambda-sdk/test/unit/internal-extension/index.test.js
Labels: bug

#641 feat: SC-846 Ignore logger library warning and errors
  go/packages/dev-mode/agent/forwarder.go
  go/packages/dev-mode/agent/forwarder_test.go
  go/packages/dev-mode/main_test.go
Labels: enhancement

#645 Add extension initialization hook
  python/packages/sdk/sls_sdk/__init__.py
  python/packages/sdk/tests/test_sdk.py
Labels: runtime/python, refactor

#646 Ignore following request functionality
  python/packages/sdk/sls_sdk/lib/instrumentation/http.py
  python/packages/sdk/tests/lib/instrumentation/test_http.py
Labels: runtime/python, refactor

#644 [Python] Lambda SDK flask instrumentation
  node/test/python/aws-lambda-sdk/integration.test.js
  python/packages/aws-lambda-sdk/README.md
  python/packages/aws-lambda-sdk/pyproject.toml
  python/packages/aws-lambda-sdk/tests/fixtures/lambdas/flask_app.py
  python/packages/aws-lambda-sdk/tests/instrument/test_instrument.py
Labels: enhancement, runtime/python

#449 build(dev-mode): Upgrade Go module dependencies
  .github/workflows/dev-mode-layer-publish.yml
  .github/workflows/dev-mode-validate.yml
  .github/workflows/proto-generate-documentation.yml
  go/packages/dev-mode/go.mod
  go/packages/dev-mode/go.sum
Labels: runtime/go

#652 [Python] Base SDK Store http span in context variable
  python/packages/sdk/sls_sdk/lib/instrumentation/http.py
  python/packages/sdk/tests/conftest.py
  python/packages/sdk/tests/lib/instrumentation/test_http.py
  python/packages/sdk/tests/test_thread_safety.py
Labels: bug, runtime/python

#651 [Python] SLS SDK Handle existing tags
  python/packages/sdk/sls_sdk/lib/tags.py
  python/packages/sdk/tests/lib/test_tags.py
Labels: bug, runtime/python

#654 chore: Release python base sdk version 0.4.1
  python/packages/sdk/CHANGELOG.md
  python/packages/sdk/pyproject.toml
Labels: runtime/python

#655 [Python] Add Lambda SDK event/response tags
  node/test/python/aws-lambda-sdk/integration.test.js
  python/packages/aws-lambda-sdk/pyproject.toml
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/instrument/__init__.py
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/instrument/lib/event_tags.py
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/instrument/lib/response_tags.py
  python/packages/aws-lambda-sdk/tests/fixtures/lambdas/api_endpoint.py
  python/packages/aws-lambda-sdk/tests/instrument/test_aws_lambda_events.py
Labels: enhancement, runtime/python

#656 [Pyhthon] Base SDK flask instrumentation: Override http router tag
  node/test/python/aws-lambda-sdk/integration.test.js
  python/packages/sdk/sls_sdk/lib/instrumentation/flask.py
  python/packages/sdk/sls_sdk/lib/tags.py
  python/packages/sdk/tests/lib/instrumentation/test_flask.py
  python/packages/sdk/tests/lib/test_tags.py
  python/packages/sdk/tests/test_thread_safety.py
Labels: enhancement, runtime/python

#659 Import from layer base sdk
  node/test/python/aws-lambda-sdk/integration.test.js
  python/packages/aws-lambda-sdk/pyproject.toml
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/__init__.py
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/internal_extension/wrapper.py
  python/packages/aws-lambda-sdk/tests/internal_extension/test_internal_extension_exec_wrapper.py
Labels: bug, runtime/python

#660 Fix performance regression
  python/packages/sdk/sls_sdk/lib/instrumentation/http.py
  python/packages/sdk/sls_sdk/lib/instrumentation/import_hook.py
  python/packages/sdk/tests/conftest.py
  python/packages/sdk/tests/lib/instrumentation/test_http.py
Labels: bug, runtime/python

#661 Update docs
  python/packages/aws-lambda-sdk/README.md
  python/packages/aws-lambda-sdk/docs/sdk-trace.md
  python/packages/sdk/README.md
  python/packages/sdk/docs/sdk.md
  python/packages/sdk/docs/trace-span.md
Labels: documentation, runtime/python

#663 [Python SDK] Fix high level http instrumentation
  python/packages/sdk/pyproject.toml
  python/packages/sdk/sls_sdk/lib/instrumentation/http.py
  python/packages/sdk/tests/lib/instrumentation/test_http.py
Labels: bug, runtime/python

#666 chore: Release python lambda sdk version 0.1.14
  python/packages/aws-lambda-sdk/CHANGELOG.md
  python/packages/aws-lambda-sdk/pyproject.toml
Labels: runtime/python

#664 SDK: Improve express middleware detection (fix compatibility with Serverless Dashboard)
  node/packages/sdk/lib/instrumentation/express/instrument-layer-prototype.js
Labels: bug, runtime/node.js

#668 AWS Lambda SDK: Test compatibility with Serverless Dashboard
  node/.prettierignore
  node/package.json
  node/packages/aws-lambda-sdk/package.json
  node/packages/aws-lambda-sdk/test/fixtures/lambdas/.eslintrc.js
  node/packages/aws-lambda-sdk/test/fixtures/lambdas/dashboard/index.js
  node/packages/aws-lambda-sdk/test/fixtures/lambdas/dashboard/s_function.js
  node/packages/aws-lambda-sdk/test/fixtures/lambdas/dashboard/serverless_sdk/index.js
  node/packages/aws-lambda-sdk/test/integration/index.test.js
Labels: tests

#670 SDK: Improve `serverlessSdk._reportWarning` resolution
  node/packages/sdk/index.js
  node/packages/sdk/lib/trace-span.js
Labels: runtime/node.js, refactor

#671 SDK: Do not fail on missing `layer.method`
  node/packages/sdk/lib/instrumentation/express/instrument-layer-prototype.js
Labels: bug, runtime/node.js

#676 chore: Release python base sdk version 0.4.4
  python/packages/sdk/CHANGELOG.md
  python/packages/sdk/pyproject.toml
Labels: runtime/python

#675 Support python 3.10 in CI/CD
  .github/workflows/python-integrate.yaml
  .github/workflows/python-validate.yml
  node/test/benchmark/lib/resolve-use-cases-config/python.js
  node/test/python/aws-lambda-sdk/benchmark/lib/run.js
  node/test/python/aws-lambda-sdk/integration.test.js
Labels: runtime/python, ci

#679 AWS Lambda SDK: Remove no longer supported option
  node/packages/aws-lambda-sdk/trace-spans/aws-lambda.js
Labels: runtime/node.js, refactor

#680 AWS SDK Lambda: Ensure `sdk.runtime` tag on all payloads
  node/packages/aws-lambda-sdk/instrument/index.js
  node/packages/aws-lambda-sdk/test/integration/index.test.js
  node/packages/aws-lambda-sdk/test/unit/internal-extension/index.test.js
Labels: bug, runtime/node.js

#681 SDK: Release v0.5.11
  node/packages/sdk/CHANGELOG.md
  node/packages/sdk/package.json
Labels: runtime/node.js

#683 Fix transient dependency version and add more tests for aiohttp
  python/packages/aws-lambda-sdk/pyproject.toml
  python/packages/aws-lambda-sdk/tests/fixtures/lambdas/aiohttp_requester.py
  python/packages/aws-lambda-sdk/tests/instrument/test_assertions.py
  python/packages/aws-lambda-sdk/tests/instrument/test_instrument.py
Labels: runtime/python, tests

#689 AWS Lambda SDK: Confirm support for nested express routes
  node/packages/aws-lambda-sdk/package.json
  node/packages/aws-lambda-sdk/test/fixtures/lambdas/express-nested.js
  node/packages/aws-lambda-sdk/test/integration/index.test.js
Labels: runtime/node.js, tests

#690 chore: Release python base sdk version 0.4.5
  python/packages/sdk/CHANGELOG.md
  python/packages/sdk/pyproject.toml
Labels: runtime/python

#694 fix: Do not send SDK errors for unsupported log levels
  node/packages/sdk/lib/structured-log-to-event.js
Labels: bug, runtime/node.js

#693 AWS Lambda SDK Improve sampling
  node/packages/aws-lambda-sdk/instrument/index.js
Labels: enhancement, runtime/node.js

#696 AWS Lambda SDK: Ensure our `--require` option is firsrt
  node/packages/aws-lambda-sdk/internal-extension/exec-wrapper.sh
Labels: enhancement, runtime/node.js

#699 chore: Release python lambda sdk version 0.1.15
  python/packages/aws-lambda-sdk/CHANGELOG.md
  python/packages/aws-lambda-sdk/pyproject.toml
Labels: runtime/python

#700 SDK: Fix resolution of express param routes
  node/packages/sdk/lib/instrumentation/express/instrument-layer-prototype.js
  node/packages/sdk/test/unit/instrumentation/express-app.test.js
Labels: bug, runtime/node.js

#705 [Python SDK] Fix AWS SDK instrumentation (sanitize tag names)
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/instrumentation/aws_sdk.py
  python/packages/aws-lambda-sdk/tests/instrumentation/test_aws_sdk.py
Labels: bug, runtime/python

#706 SDK: Resolve parametrized paths with nested routers
  node/packages/sdk/instrumentation/express-app.js
  node/packages/sdk/lib/instrumentation/express/index.js
  node/packages/sdk/lib/instrumentation/express/instrument-layer-prototype.js
  node/packages/sdk/lib/instrumentation/express/instrument-router.js
  node/packages/sdk/test/unit/instrumentation/express-app.test.js
Labels: bug, runtime/node.js

#709 AWS Lambda SDK: Release v0.14.21
  node/packages/aws-lambda-sdk/CHANGELOG.md
  node/packages/aws-lambda-sdk/package.json
Labels: runtime/node.js
