Repository serverless/console, pull requests merged in 2023-03, with the labels that each got.

#481 Trace span
  python/packages/sdk/serverless_sdk/exceptions.py
  python/packages/sdk/serverless_sdk/sdk/base.py
  python/packages/sdk/serverless_sdk/span/tags.py
  python/packages/sdk/serverless_sdk/span/trace.py
  python/packages/sdk/serverless_sdk/tests/test_sdk.py
  python/packages/sdk/serverless_sdk/tests/test_trace_span.py
Labels: enhancement, runtime/python

#485 Create layer archive in destination
  .github/workflows/python-publish-aws-lambda-sdk.yml
  python/packages/aws-lambda-sdk/.gitignore
  python/packages/aws-lambda-sdk/scripts/build-layer-archive.sh
Labels: runtime/python, refactor

#488 Build Lambda SDK from local when packaging layer
  python/packages/aws-lambda-sdk/scripts/build-layer-archive.sh
Labels: runtime/python

#489 Ensure spans are ordered by creation time
  python/packages/sdk/serverless_sdk/span/trace.py
  python/packages/sdk/serverless_sdk/tests/test_trace_span.py
Labels: runtime/python

#492 Schema: Define `TracePayload.is_sampled_out`
  proto/serverless/instrumentation/v1/trace.proto
Labels: enhancement

#501 Fix span timing
  python/packages/sdk/serverless_sdk/lib/__init__.py
  python/packages/sdk/serverless_sdk/lib/timing.py
  python/packages/sdk/serverless_sdk/span/trace.py
  python/packages/sdk/serverless_sdk/tests/test_timing.py
  python/packages/sdk/serverless_sdk/tests/test_trace_span.py
Labels: bug, runtime/python

#503 Use perf counter directly for timing lambda spans
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/instrument/__init__.py
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/internal_extension/base.py
Labels: runtime/python

#507 feat(Go SDK): Support user defined spans in Go SDK
  go/packages/slslambda/basicspan.go
  go/packages/slslambda/example/main.go
  go/packages/slslambda/initializationspan.go
  go/packages/slslambda/rootspan.go
  go/packages/slslambda/slslambda.go
  go/packages/slslambda/span.go
  go/packages/slslambda/trace.go
  go/packages/slslambda/wrapper.go
Labels: enhancement

#508 Fix debug log message
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/instrument/__init__.py
Labels: bug, runtime/python

#510 Add section that explains how to run tests
  python/packages/aws-lambda-sdk/tests/README.md
Labels: runtime/python, tests

#511 Refactor SDK modules
  python/packages/sdk/pyproject.toml
  python/packages/sdk/serverless_sdk/__init__.py
  python/packages/sdk/serverless_sdk/lib/id.py
  python/packages/sdk/serverless_sdk/lib/name.py
  python/packages/sdk/serverless_sdk/lib/tags.py
  python/packages/sdk/serverless_sdk/lib/trace.py
  python/packages/sdk/serverless_sdk/sdk/base.py
  python/packages/sdk/serverless_sdk/span/__init__.py
  python/packages/sdk/tests/__init__.py
  python/packages/sdk/tests/conftest.py
  python/packages/sdk/tests/test_id.py
  python/packages/sdk/tests/test_name.py
  python/packages/sdk/tests/test_sdk.py
  python/packages/sdk/tests/test_tags.py
  python/packages/sdk/tests/test_timing.py
  python/packages/sdk/tests/test_trace_span.py
Labels: runtime/python, refactor

#515 Adapt lambda sdk changes
  python/packages/aws-lambda-sdk/pyproject.toml
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/__init__.py
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/trace_spans/aws_lambda.py
Labels: runtime/python, refactor

#517 Integration test sdk import
  node/test/python/aws-lambda-sdk/integration.test.js
  python/packages/aws-lambda-sdk/tests/fixtures/lambdas/sdk.py
Labels: tests

#509 Catch all customer handler errors
  node/test/python/aws-lambda-sdk/integration.test.js
  python/packages/aws-lambda-sdk/pyproject.toml
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/instrument/__init__.py
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/internal_extension/base.py
  python/packages/aws-lambda-sdk/tests/__init__.py
  python/packages/aws-lambda-sdk/tests/fixtures/__init__.py
  python/packages/aws-lambda-sdk/tests/fixtures/lambdas/error_unhandled.py
  python/packages/aws-lambda-sdk/tests/fixtures/lambdas/unimportable_exits_with_error.py
  python/packages/aws-lambda-sdk/tests/test_instrument.py
  python/packages/aws-lambda-sdk/tests/test_internal_extension.py
  python/packages/aws-lambda-sdk/tests/test_internal_extension_wrapper.py
Labels: bug, runtime/python

#519 SC-584: Fix possible out of range error
  go/packages/dev-mode/agent/forwarder.go
  go/packages/dev-mode/version.txt
Labels: bug

#514 AWS Lambda SDK: Sample out 80% of traces in production mode
  node/packages/aws-lambda-sdk/instrument/index.js
  node/packages/aws-lambda-sdk/package.json
  node/packages/aws-lambda-sdk/test/integration/index.test.js
  node/packages/aws-lambda-sdk/test/unit/internal-extension/index.test.js
Labels: enhancement, runtime/node.js

#520 Add event emitter to Python base SDK
  python/packages/sdk/pyproject.toml
  python/packages/sdk/serverless_sdk/__init__.py
  python/packages/sdk/serverless_sdk/lib/emitter.py
  python/packages/sdk/tests/lib/test_event_emitter.py
  python/packages/sdk/tests/test_sdk.py
Labels: runtime/python, refactor

#522 Release python base SDK v0.2.1
  python/packages/sdk/CHANGELOG.md
  python/packages/sdk/pyproject.toml
Labels: runtime/python

#523 Include captured error events in trace
  node/test/python/aws-lambda-sdk/integration.test.js
  python/packages/aws-lambda-sdk/pyproject.toml
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/instrument/__init__.py
  python/packages/aws-lambda-sdk/tests/__init__.py
  python/packages/aws-lambda-sdk/tests/conftest.py
  python/packages/aws-lambda-sdk/tests/fixtures/lambdas/sdk.py
  python/packages/aws-lambda-sdk/tests/test_assertions.py
  python/packages/aws-lambda-sdk/tests/test_instrument.py
Labels: enhancement, runtime/python

#525 Add set_tag API method to Python SDK
  python/packages/sdk/docs/sdk.md
  python/packages/sdk/serverless_sdk/__init__.py
  python/packages/sdk/serverless_sdk/lib/captured_event.py
  python/packages/sdk/serverless_sdk/lib/trace.py
  python/packages/sdk/tests/lib/test_trace_span.py
  python/packages/sdk/tests/test_sdk.py
Labels: enhancement, runtime/python

#526 Use event emitter for storing captured events
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/instrument/__init__.py
Labels: enhancement, runtime/python

#529 Enhance build script
  python/packages/aws-lambda-sdk/scripts/build-layer-archive.sh
Labels: runtime/python

#533 Release python lambda sdk v0.1.8
  python/packages/aws-lambda-sdk/CHANGELOG.md
  python/packages/aws-lambda-sdk/pyproject.toml
Labels: runtime/python

#534 Improve wrapper script
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/internal_extension/exec_wrapper.py
  python/packages/aws-lambda-sdk/tests/test_internal_extension_exec_wrapper.py
  python/packages/aws-lambda-sdk/tests/test_internal_extension_wrapper.py
Labels: bug, runtime/python

#536 Fix typo in docs
  node/packages/sdk/docs/sdk.md
Labels: documentation

#539 Fix Python sdk-schema packaging
  .github/workflows/python-integrate.yaml
  .github/workflows/python-sdk-schema-publish.yaml
  .github/workflows/python-validate.yml
  proto/README.md
  python/packages/sdk-schema/README.md
  python/packages/sdk-schema/pyproject.toml
  python/packages/sdk-schema/scripts/build.sh
  python/packages/sdk-schema/scripts/install.sh
  python/packages/sdk-schema/tests/__init__.py
  python/packages/sdk-schema/tests/test_schema.py
Labels: runtime/python, refactor

#537 test(Go SDK): Set up integration tests
  go/packages/slslambda/basicspan.go
  go/packages/slslambda/fixtures/success/go.mod
  go/packages/slslambda/fixtures/success/go.sum
  go/packages/slslambda/fixtures/success/main.go
  go/packages/slslambda/initializationspan.go
  go/packages/slslambda/rootspan.go
  go/packages/slslambda/scripts/build-go-binary.sh
  go/packages/slslambda/span.go
  node/package.json
  node/test/go/aws-lambda-sdk/cleanup.js
  node/test/go/aws-lambda-sdk/integration.test.js
  node/test/go/aws-lambda-sdk/lib/basename.js
  node/test/go/aws-lambda-sdk/lib/cleanup.js
  node/test/go/aws-lambda-sdk/lib/create-core-resources.js
  node/test/lib/create-core-resources.js
Labels: tests, runtime/go

#542 Fix custom tags serialization
  python/packages/sdk/serverless_sdk/lib/trace.py
  python/packages/sdk/tests/lib/test_trace_span.py
Labels: bug, runtime/python

#544 Fix serialization of custom tags on events
  python/packages/sdk/serverless_sdk/lib/captured_event.py
  python/packages/sdk/tests/lib/test_captured_event.py
  python/packages/sdk/tests/lib/test_error_captured_event.py
  python/packages/sdk/tests/lib/test_warning_captured_event.py
Labels: bug, runtime/python

#545 Upgrade dependencies and tests
  node/test/python/aws-lambda-sdk/integration.test.js
  python/packages/aws-lambda-sdk/pyproject.toml
  python/packages/aws-lambda-sdk/tests/fixtures/lambdas/sdk.py
  python/packages/aws-lambda-sdk/tests/test_instrument.py
Labels: runtime/python, tests

#540 feat(Go SDK): Support handled errors
  go/packages/slslambda/basicspan.go
  go/packages/slslambda/caughterror.go
  go/packages/slslambda/event.go
  go/packages/slslambda/fixtures/error-handled/go.mod
  go/packages/slslambda/fixtures/error-handled/main.go
  go/packages/slslambda/rootspan.go
  go/packages/slslambda/span.go
  go/packages/slslambda/uncaughterror.go
  go/packages/slslambda/wrapper.go
  node/test/go/aws-lambda-sdk/build-go-binary.sh
  node/test/go/aws-lambda-sdk/integration.test.js
Labels: enhancement, runtime/go

#546 Python SDK trace sampling
  node/test/python/aws-lambda-sdk/integration.test.js
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/__init__.py
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/instrument/__init__.py
  python/packages/aws-lambda-sdk/tests/fixtures/__init__.py
  python/packages/aws-lambda-sdk/tests/fixtures/lambdas/sdk_sampled_out.py
  python/packages/aws-lambda-sdk/tests/test_instrument.py
Labels: enhancement, runtime/python

#550 Test python logging module instrumentation
  node/test/python/aws-lambda-sdk/integration.test.js
  python/packages/aws-lambda-sdk/tests/fixtures/lambdas/sdk.py
  python/packages/aws-lambda-sdk/tests/test_instrument.py
Labels: runtime/python, tests

#554 Upgrade & test behind the scenes logging
  python/packages/aws-lambda-sdk/pyproject.toml
  python/packages/aws-lambda-sdk/tests/test_instrument.py
Labels: runtime/python, tests

#557 Install optional dependencies for tests
  .github/workflows/python-integrate.yaml
  .github/workflows/python-validate.yml
  python/packages/aws-lambda-sdk/tests/README.md
  python/packages/sdk-schema/README.md
Labels: runtime/python, ci

#558 Add python base settings
  python/packages/sdk/README.md
  python/packages/sdk/serverless_sdk/__init__.py
  python/packages/sdk/tests/lib/test_error_captured_event.py
  python/packages/sdk/tests/test_sdk.py
Labels: enhancement, runtime/python

#560 Generalize dummy dev layer build script and add runtime agnostic option
  node/.gitignore
  node/packages/aws-lambda-sdk/test/fixtures/dev-mode-extension/extensions/dummy-dev-extension.js
  node/packages/aws-lambda-sdk/test/lib/build-dummy-dev-mode-extension.js
  node/packages/aws-lambda-sdk/test/lib/create-core-resources.js
  node/packages/aws-lambda-sdk/test/scripts/build-dummy-dev-mode-extension.js
  node/test/lib/build-dummy-dev-mode-extension.js
  node/test/lib/layers/dummy-dev-mode-runtime-agnostic/extensions/dummy-dev-mode.js
  node/test/lib/layers/dummy-dev-mode/dummy-dev-mode/index.js
  node/test/lib/layers/dummy-dev-mode/extensions/dummy-dev-mode.js
  node/test/python/aws-lambda-sdk/lib/create-core-resources.js
  node/test/scripts/build-dummy-dev-mode-extension.js
Labels: tests

#563 Emit span close event
  python/packages/sdk/serverless_sdk/lib/trace.py
  python/packages/sdk/tests/lib/test_trace_span.py
Labels: runtime/python

#565 Exceptions during closing of trace should not be reported as user handler crash
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/instrument/__init__.py
  python/packages/aws-lambda-sdk/tests/test_instrument.py
Labels: bug, runtime/python

#566 Remove pydantic dependency
  python/packages/sdk/pyproject.toml
Labels: refactor

#567 SDK: Fix resolution of url data from `options.path` in HTTP instrumentation
  node/packages/sdk/lib/instrumentation/http.js
  node/packages/sdk/test/unit/instrumentation/express-app.test.js
  node/packages/sdk/test/unit/lib/instrumentation/http.test.js
Labels: bug, runtime/node.js

#568 Schema: AWS Lambda runtime related tags
  proto/serverless/instrumentation/tags/v1/aws.proto
  proto/serverless/instrumentation/tags/v1/tags.proto
Labels: enhancement

#575 Use static name for lambda sdk package
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/base.py
Labels: runtime/python, refactor

#574 Use static name for sdk package
  python/packages/sdk/serverless_sdk/base.py
Labels: runtime/python, refactor

#576 Switch to protoc for compiling protobuf
  .github/workflows/python-integrate.yaml
  .github/workflows/python-sdk-schema-publish.yaml
  .github/workflows/python-validate.yml
  proto/README.md
  proto/buf.gen.python.yaml
  python/packages/sdk-schema/README.md
  python/packages/sdk-schema/pyproject.toml
  python/packages/sdk-schema/serverless_sdk_schema/__init__.py
  python/packages/sdk-schema/tests/test_schema.py
Labels: runtime/python, refactor

#579 chore: Release python sdk-schema v0.2.0
  python/packages/sdk-schema/CHANGELOG.md
  python/packages/sdk-schema/pyproject.toml
Labels: runtime/python

#584 Increase test treshold
  node/test/python/aws-lambda-sdk/benchmark/performance.test.js
Labels: runtime/python, tests

#583 [Python AWS Lambda SDK] Enable performance tests
  .github/workflows/python-integrate.yaml
Labels: runtime/python, ci

#577 feat(proto): Add logs_start_time_unix and logs_end_time_unix tags to AwsLambdaTags
  proto/serverless/instrumentation/tags/v1/aws.proto
Labels: enhancement

#585 AWS Lambda SDK: Write `sdk.runtime` tag
  node/packages/aws-lambda-sdk/instrument/index.js
  node/packages/aws-lambda-sdk/instrument/lib/auto-send-spans.js
  node/packages/aws-lambda-sdk/package.json
Labels: enhancement, runtime/node.js

#586 SDK: Release v0.5.4
  node/packages/sdk/CHANGELOG.md
  node/packages/sdk/package.json
Labels: runtime/node.js

#588 Fix error handling in tags
  python/packages/sdk/serverless_sdk/__init__.py
  python/packages/sdk/serverless_sdk/lib/captured_event.py
  python/packages/sdk/serverless_sdk/lib/error.py
  python/packages/sdk/serverless_sdk/lib/tags.py
  python/packages/sdk/tests/lib/test_captured_event.py
  python/packages/sdk/tests/lib/test_error.py
  python/packages/sdk/tests/lib/test_tags.py
  python/packages/sdk/tests/lib/test_warning_captured_event.py
  python/packages/sdk/tests/test_sdk.py
Labels: bug, runtime/python

#593 Revert 589 docs remove python sdk
  docs/application-guide/dev-mode.md
  docs/application-guide/metrics.md
  docs/application-guide/orgs-members.md
  docs/application-guide/trace-explorer.md
  docs/index.md
  docs/instrumentation.md
  docs/integrations/aws.md
  docs/python-sdk.md
Labels: enhancement

#591 test(Go SDK): Setup Go SDK benchmarks
  go/packages/slslambda/environment.go
  go/packages/slslambda/fixtures/bare/go.mod
  go/packages/slslambda/fixtures/bare/go.sum
  go/packages/slslambda/fixtures/bare/main.go
  node/test/benchmark/index.js
  node/test/benchmark/lib/resolve-use-cases-config/go.js
  node/test/go/aws-lambda-sdk/integration.test.js
  node/test/go/aws-lambda-sdk/lib/build-zip-file.js
Labels: tests, runtime/go
