Repository serverless/console, pull requests merged in 2023-02, with the labels that each got.

#440 Schema: Distinguish user and sdk caught errors
  node/packages/sdk-schema/test/unit/event.test.js
  proto/serverless/instrumentation/tags/v1/error.proto
Labels: enhancement, breaking, runtime/node.js

#441 Schema: Distinguish between user or internal SDK generated warning
  proto/serverless/instrumentation/tags/v1/warning.proto
Labels: enhancement, breaking

#446 SDK: Release v0.5.0
  node/packages/sdk/CHANGELOG.md
  node/packages/sdk/package.json
Labels: runtime/node.js

#400 docs: Adding docs on the @serverless/sdk package
  docs/faq.md
  docs/glossary.md
  docs/nodejs.md
Labels: documentation

#452 feat: Added traceId when SDK is not present
  go/packages/dev-mode/agent/forwarder.go
  go/packages/dev-mode/extension/client.go
  go/packages/dev-mode/main.go
  node/test/go/dev-mode/test/integration/index.test.js
Labels: enhancement

#457 SDK: Release v0.5.1
  node/packages/sdk/CHANGELOG.md
  node/packages/sdk/package.json
Labels: runtime/node.js

#462 feat(Go SDK): Record basic lambda spans and custom error events
  go/packages/dev-mode/go.sum
  go/packages/slslambda/README.md
  go/packages/slslambda/environment.go
  go/packages/slslambda/event.go
  go/packages/slslambda/example/main.go
  go/packages/slslambda/go.mod
  go/packages/slslambda/go.sum
  go/packages/slslambda/log.go
  go/packages/slslambda/slslambda.go
  go/packages/slslambda/slslambda_test.go
  go/packages/slslambda/span.go
  go/packages/slslambda/trace.go
  go/packages/slslambda/wrapper.go
Labels: enhancement, runtime/go

#468 Fix pyproject.toml formatter
  .github/workflows/python-integrate.yaml
  .github/workflows/python-sdk-publish.yaml
  .github/workflows/python-sdk-schema-publish.yaml
  python/packages/sdk-schema/pyproject.toml
  python/packages/sdk/pyproject.toml
Labels: runtime/python, ci

#475 SDK: Let native HTTP interface throw error of invalid listener
  node/packages/sdk/lib/instrumentation/http.js
Labels: bug, runtime/node.js

#477 AWS Lambda SDK: Test against AWS SDK that doesn't issue deprecation error
  node/packages/aws-lambda-sdk/test/fixtures/lambdas/package.json
Labels: runtime/node.js, tests

#464 SDK: SC-260 Package with a handler wrapper (latest version)
  .github/workflows/python-integrate.yaml
  .github/workflows/python-publish-aws-lambda-sdk.yml
  .github/workflows/python-validate.yml
  python/packages/aws-lambda-sdk/pyproject.toml
  python/packages/aws-lambda-sdk/scripts/build-layer-archive.sh
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/__init__.py
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/base.py
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/exceptions.py
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/instrument/__init__.py
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/internal_extension/__init__.py
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/internal_extension/base.py
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/internal_extension/exec_wrapper.py
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/internal_extension/wrapper.py
  python/packages/aws-lambda-sdk/setup.cfg
  python/packages/aws-lambda-sdk/setup.py
  python/packages/aws-lambda-sdk/tests/__init__.py
  python/packages/aws-lambda-sdk/tests/fixtures/__init__.py
  python/packages/aws-lambda-sdk/tests/fixtures/lambdas/error.py
  python/packages/aws-lambda-sdk/tests/fixtures/lambdas/not_callable.py
  python/packages/aws-lambda-sdk/tests/fixtures/lambdas/submodule/__init__.py
  python/packages/aws-lambda-sdk/tests/fixtures/lambdas/submodule/success.py
  python/packages/aws-lambda-sdk/tests/fixtures/lambdas/success.py
  python/packages/aws-lambda-sdk/tests/fixtures/lambdas/syntax_error.py
  python/packages/aws-lambda-sdk/tests/fixtures/lambdas/unimportable.py
  python/packages/aws-lambda-sdk/tests/test_instrument.py
  python/packages/aws-lambda-sdk/tests/test_internal_extension.py
  python/packages/aws-lambda-sdk/tests/test_internal_extension_wrapper.py
Labels: enhancement, runtime/python
