Repository serverless/console, pull requests merged in 2023-06, with the labels that each got.

#789 AWS Lambda SDK: Fix handling of side effect of unexpected express configuration
  node/packages/aws-lambda-sdk/instrument/lib/resolve-event-tags.js
Labels: bug

#790 [Python Lambda SDK] Improve sampling logic
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/instrument/__init__.py
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/instrument/lib/api_events.py
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/instrument/lib/response_tags.py
  python/packages/aws-lambda-sdk/tests/instrument/test_instrument.py
Labels: runtime/python

#791 [Python Lambda SDK] Performance tests: Increase init latency threshold
  node/test/python/aws-lambda-sdk/benchmark/performance.test.js
Labels: runtime/python, tests

#792 docs: Updated express bundler docs
  docs/nodejs-sdk.md
Labels: documentation

#793 SDK: Restrict tag size
  node/packages/sdk/lib/create-error-captured-event.js
  node/packages/sdk/lib/limit-tag-value.js
  node/packages/sdk/lib/max-tag-value-length.js
  node/packages/sdk/lib/tags.js
  node/packages/sdk/test/unit/lib/limit-tag-value.test.js
Labels: enhancement, runtime/node.js

#801 [Python Lambda SDK] Do not sample out infrequent usage and sample at 20%
  python/packages/aws-lambda-sdk/serverless_aws_lambda_sdk/instrument/__init__.py
  python/packages/aws-lambda-sdk/tests/instrument/test_instrument.py
Labels: enhancement, runtime/python

#803 AWS Lambda SDK: Truncate payload if exceeds 256KB
  node/packages/aws-lambda-sdk/instrument/index.js
  node/packages/aws-lambda-sdk/package.json
  node/packages/aws-lambda-sdk/test/fixtures/lambdas/package.json
  node/packages/aws-lambda-sdk/test/fixtures/lambdas/truncated.js
  node/packages/aws-lambda-sdk/test/unit/internal-extension/index.test.js
Labels: enhancement, runtime/node.js

#805 Make retries visible in tests
  node/packages/aws-lambda-sdk/test/integration/index.test.js
  node/test/python/aws-lambda-sdk/integration.test.js
Labels: runtime/node.js, runtime/python, tests

#806 chore: Release python sdk schema version 0.2.3
  python/packages/sdk-schema/CHANGELOG.md
  python/packages/sdk-schema/pyproject.toml
Labels: runtime/python

#810 Fix pyproject-fmt version
  python/packages/aws-lambda-sdk/pyproject.toml
Labels: runtime/python, ci

#799 AWS Lambda SDK: Improve sampling
  node/packages/aws-lambda-sdk/instrument/index.js
Labels: enhancement, runtime/node.js

#817 Python SDK: Temporarily disable response body observation
  python/packages/sdk/sls_sdk/lib/instrumentation/http.py
  python/packages/sdk/tests/lib/instrumentation/test_http.py
Labels: bug, runtime/python

#818 SDK: Release v0.5.1
  python/packages/sdk/CHANGELOG.md
  python/packages/sdk/sls_sdk/VERSION
Labels: runtime/python

#820 AWS Lambda SDK: Cover `.mjs` handlers in tests
  node/package.json
  node/packages/aws-lambda-sdk/test/fixtures/lambdas/mjs-callback.mjs
  node/packages/aws-lambda-sdk/test/fixtures/lambdas/mjs-sdk.mjs
  node/packages/aws-lambda-sdk/test/integration/index.test.js
  node/packages/aws-lambda-sdk/test/unit/internal-extension/index.test.js
Labels: runtime/node.js, tests

#822 AWS Lambda SDK: Fix handling of request truncation
  node/packages/aws-lambda-sdk/instrument/index.js
  node/packages/aws-lambda-sdk/test/unit/internal-extension/index.test.js
Labels: bug, runtime/node.js

#824 AWS Lambda SDK: Ensure to expose uncaught exceptions
  node/packages/aws-lambda-sdk/instrument/index.js
Labels: bug, runtime/node.js

#826 fix: Execution should halt if api error is detected
  go/packages/dev-mode/agent/forwarder.go
Labels: bug

#829 SDK: Fix handling of request body
  python/packages/sdk/sls_sdk/lib/instrumentation/http.py
Labels: bug, runtime/python
